@CHARSET "UTF-8";
html { height: 100%; }
body { width:100%; height: 100%; background:B8E0FF; }
.page { width:100%; height:100%; }
.map { width:100%; height:100%; }

/* F
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-f {
	border: 1px solid 		#B3B3B3; 
	background: 			#B8E0FF;
	color: 					#eee;
	font-weight: 700;
	text-shadow: 0 1px 1px 	#000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3D6E91), to(#1D3445)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #3D6E91, #1D3445); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #3D6E91, #1D3445); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #3D6E91, #1D3445); /* IE10 */
	background-image:      -o-linear-gradient(top, #3D6E91, #1D3445); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #3D6E91, #1D3445);
}
.ui-bar-f,
.ui-bar-f input,
.ui-bar-f select,
.ui-bar-f textarea,
.ui-bar-f button {
	font-family: Open Sans, Helvetica, Arial, sans-serif;
}
.ui-body-f {
	/* border: 1px solid 		#B3B3B3;
	color: 					#333333; */
	text-shadow: 0 1px 0 	#fff;
	background: 			#DBF0FF;

}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	font-family: Open Sans, Helvetica, Arial, sans-serif;
}
.ui-body-f .ui-link-inherit {
	color: 					#333333;
}
.ui-body-f .ui-link {
	color: 					#B8E0FF;
	font-weight: 700;
}

.ui-btn-up-f {
	border: 1px solid 		#ccc;
	background: 			#eee;
	font-weight: 700;
	color: 					#eee;
	text-shadow: 0 1px 1px #000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C6271F), to(#7A1813)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #C6271F, #7A1813); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #C6271F, #7A1813); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #C6271F, #7A1813); /* IE10 */
	background-image:      -o-linear-gradient(top, #C6271F, #7A1813); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #C6271F, #7A1813);
}
.ui-btn-up-f a.ui-link-inherit {
	color: 					#fff;
}

.ui-btn-hover-f {
	border: 1px solid 		#bbb;
	background: 			#dadada;
	font-weight: 700;
	color: 					#fff;
	text-shadow: 0 1px 1px 	#000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7A1813), to(#C6271F)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #7A1813, #C6271F); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #7A1813, #C6271F); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #7A1813, #C6271F); /* IE10 */
	background-image:      -o-linear-gradient(top, #7A1813, #C6271F); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #7A1813, #C6271F);
}
.ui-btn-hover-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-down-f {
	border: 1px solid 		#808080;
	background: 			#fdfdfd;
	font-weight: 700;
	color: 					#000000;
	text-shadow: 0 1px 1px 	#ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#5393C5)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #eee, #5393C5); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #eee, #5393C5); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #eee, #5393C5); /* IE10 */
	background-image:      -o-linear-gradient(top, #eee, #5393C5); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #eee, #5393C5);
}
.ui-btn-down-f a.ui-link-inherit {
	color: 					#B8E0FF;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	text-decoration: none;
}
.padding { padding:10px; }
.nopadding { border-width: 0; overflow: visible; overflow-x: hidden; padding: 0px; }
.error { color:#a00; }