@CHARSET "UTF-8";
html { height: 100%; }
body { height: 100%; background-color:#d6d6ce; }
.page { width:100%; height:100%; }
.youtube { frameborder:0px; allowfullscreen; title:"YouTube video player"; }
.min-width-320px .youtube { width:286px; height:256px; margin-left:auto; margin-right:auto; }
.min-width-480px .youtube { width:451px; height:406px; margin-left:auto; margin-right:auto; }
.min-width-768px .youtube { width:739px; height:665px; margin-left:auto; margin-right:auto; }
.min-width-1024px .youtube { width:994px; height:895px; margin-left:auto; margin-right:auto; }
.event { width:100%; height:100%; }
.map { width:100%; height:100%; }